*{
    background-color: #c3c3ca;
}
.box{
    width: 400px;
    height: 35px;
    display: flex;
    margin-top: 10px;
    margin-left: 45px;
    border: 1px solid rgb(93, 90, 90);
    background-color: #ffffff;
    border-radius: 4px;
    padding-left: 10px;
    justify-content: center;
}

.login{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(251, 251, 254);
    width: 500px;
    border-radius: 2%;
}

.main{
    width: 1515px;
    height: 710px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    margin-left: 170px;
    font-size: 2.5rem;
    font-weight: 700;
}

.submit{
    height: 30px;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: blueviolet;
    margin-left: 200px;
    color: white;
    margin-bottom: 15px;
    border-radius: 3PX;
}

.password{
    display: flex;
    /* background-color: aqua; */
}

.eye{
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
    border: 3px solid #c3c3ca;
}